@charset "UTF-8";

#social_in, #social_git, #social_twi, #social_fb {
	display: none;
}

#nav_notice, #nav_setting, #nav_logout {
	cursor: pointer;
}

.UserVerify {
	color: red;
	display: none;
	margin-top: 10px;
	font-family: 'Jua', sans-serif;
	font-size: 20px;
}

.container_pic {
	width: 350px;
	float: left;
	margin-top: 60px;
}

.propic {
	width: 300px;
	border-radius: 100%;
}

.container-user {
	width: 400px;
	float: left;
	height: 500px;
	margin-left: 30px;
	padding-top: 10px;
	font-family: 'Jua', sans-serif;
	font-size: 30px;
}

.container-color {
	width: 300px;
	float: right;
	font-family: 'Jua', sans-serif;
	font-size: 30px;
}

.pallet {
	width: 295px;
	height: 180px;
}

.colorBox {
	width: 20px;
	height: 20px;
	float: left;
	margin: 1px 1px 0px 0px;
	cursor: pointer;
}

#icon_in, #icon_git, #icon_twi, #icon_fb {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 20px;
	margin-left: 15px;
	cursor: pointer;
}

.password_change {
	background-color: #EAEAEA;
	color: black;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	border: 0.5px solid gray;
	margin-bottom: 10px;
}

.password_change input {
	width: 200px;
}

.profile_update {
	background-color: white;
	margin-top: 20px;
	margin-right: 30px;
	width: 100px;
	font-size: 25px;
	height: 40px;
	margin-left: 30px;
}

.profile_delete {
	background-color: white;
	font-size: 25px;
	height: 40px;
	width: 100px;
	color: red;
}

.pw_input {
	font-size: 20px;
	height: 45px;
	width: 300px;
}

.filebox {
	visibility: hidden;
}

#PostHead {
	float: left;
}

#CreatePost {
	text-align: right;
	height: 70px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.PostHead {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.Postmodal_Head {
	margin-left: 20px;
	font-size: 18px;
}

.PostContent {
	margin-left: 20px;
}

.content-toggler {
	border: none;
	background-color: white;
}

#postList {
	height: 500px;
	overflow: auto;
}

#postList::-webkit-scrollbar {
	display: none;
}

#postListImg {
	border: none;
	background-color: white;
}

#postListImg img {
	width: 80px;
	margin-left: 400px
}

#postBtn {
	float: right;
}

#PostEdit {
	border: none;
	background-color: white;
	color: blue;
	font-weight: bold;
}

#PostDel {
	border: none;
	background-color: white;
	color: red;
	font-weight: bold;
}

.flex-shrink-0 {
	width: 100px;
}

.postText {
	border: none;
	pointer-events: none;
}

.postText:focus {
	pointer-events: none;
}

.AttachImg img {
	width: 200px;
	height: 200px;
}

#SearchDiv {
	margin-left: 40px;
}

#Search {
	width: 170px;
}

#SearchDiv img {
	width: 30px;
	cursor: pointer;
}

#backImg {
	width: 50px;
	padding: 10px;
	cursor: pointer;
}

.no_Search {
	height: 500px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 5px;
}

#SearchImg img {
	width: 200px;
	height: 200px;
	width: 200px;
	height: 200px;
}

#SearchUser {
	padding: 10px;
	float: right;
}

#SearchUser img {
	width: 30px;
}

.no_Result{
	height: 300px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 5px;
}

.a_search{
	margin-left: 10px
}